/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
#header{
  background: none repeat scroll 0 0 #EEECE7;
  box-shadow: 0 2px 10px #333333;
  padding: 1.62em 0 0;
}
#innerheader {
  margin: 0 auto;
  max-width: 1180px;
}
#branding {
  clear: none;
  float: left;
}
#secondary-menu-bar {
  clear: none;
  float: right;
}
#menu-bar.nav,
#menu-bar .menu-bar-wrapper{
  margin: 0;
}
#menu-bar .menu-bar-wrapper {
  background-color: #333333;
  background-image: linear-gradient(to bottom, #333333, #444444);
  background-repeat: repeat-x;
}
.tb-megamenu {
  background-color: #333333;
  background-image: linear-gradient(to bottom, #333333, #444444);
  background-repeat: repeat-x;
  color: #AAAAAA;
  margin: 0 auto;
  width: 1170px;
}