/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
html {
  font-size: 112.5%;
}
#block-views-slideshow-block {
  display: none;
}
.ds-3col-stacked-equal > .group-left,
.ds-3col-stacked-equal > .group-middle,
.ds-3col-stacked-equal > .group-right,
.region-tertiary-content .block .left38wrapper, 
.region-tertiary-content .block .right62wrapper {
  clear: both;
  float: none;
  width: 100%;
}
.node {
  margin-bottom: 0;
}
#block-system-main {
  margin-bottom: 0; 
}
