/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
#innerheader {
  margin: 0 auto;
  max-width: 1180px;
}
#branding {
  clear: none;
  float: left;
}
#secondary-menu-bar {
  clear: none;
  float: right;
}
#innerheader .region-header {
  clear: right;
  float: right;
  margin-top: 1.62em;
}

/* Main Navigation */

.tb-megamenu {
  max-width: 1170px;
}

/* Footer Navigation Menu */
#block-menu-menu-footer-menu .menu,
#block-menu-menu-footer-menu .menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#block-menu-menu-footer-menu .block-inner .block-content > .menu > li > .menu > li.menu-depth-2 {
  margin-bottom: 1.62em;
}
#block-menu-menu-footer-menu .menu li > .menu {
  margin-left: 0.5em;
}
#block-menu-menu-footer-menu .block-inner .block-content > .menu > li {
  float: left;
  margin-right: 1.62em;
  min-width: 225px;
}

/* Search */
#search-block-form {
  float: right;
  margin: 0 0 0 15px;
  overflow: hidden;
  position: relative;
}
#search-block-form input.form-text {
  box-shadow: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: none;
  border: 1px solid #c3c1bd;
  margin: 0;
  width: 200px;
  outline: none;
  font: 300 12px 'Arial', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
  color: #333;
  background: #ffffff;
  height: 34px;
  padding: 7px 15px;
  resize: none;
  float: left;
  margin-right: 2px;
  background-image: -webkit-linear-gradient(top, #f8f7f5 0%, #edecea 100%);
  background-image: linear-gradient(to bottom, #f8f7f5 0%, #edecea 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f7f5', endColorstr='#ffedecea', GradientType=0);
}
#search-block-form .form-submit {
  box-shadow: none;
  position: relative;
  padding: 8px 17px;
  font: bold 13px 'Roboto';
  margin: 0;
  letter-spacing: 0;
  text-shadow: none;
  color: #ffffff;
  border: none;
  background: none;
  text-transform: uppercase;
  background-image: -webkit-linear-gradient(top, #333333 0%, #444444 100%);
  background-image: linear-gradient(to bottom, #333333 0%, #444444 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff444444', GradientType=0);
  text-decoration: none;
  display: inline-block;
}
#search-block-form .form-submit:hover {
  color: #ffffff;
  background-image: -webkit-linear-gradient(top, #444444 0%, #555555 100%);
  background-image: linear-gradient(to bottom, #444444 0%, #555555 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff555555', GradientType=0);
  text-decoration: none !important;
}

/* Content Area */

#content-column .content-inner {
  margin: 1.62em auto;
  max-width: 1170px;
}

/* Hero Banner */
.herobgwrapper,
.views_slideshow_cycle_main {
  max-width: 1170px;
}
.views-slideshow-cycle-main-frame {
  width: auto !important;
  max-width: 1170px;
}
.views_slideshow_cycle_slide {
  width: 100% !important;
}
.views_slideshow_cycle_main .field-name-title h2 {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  left: 100px;
  top: 25px;
}
.views_slideshow_cycle_main .field-name-body {
  display: block;
  width: 400px;
  left: 400px;
  position: absolute;
  top: 200px;
}
.views_slideshow_cycle_main .field-name-body p {
  color: #A7997C;
  font-size: 1.2em;
  text-align: center;
}
