/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
#innerheader {
  margin: 0 auto;
  max-width: 1180px;
}
#branding {
  clear: none;
  float: left;
}
#secondary-menu-bar {
  clear: none;
  float: right;
}
#innerheader .region-header {
  clear: right;
  float: right;
  margin-top: 3em;
}

/* Main Navigation */

.tb-megamenu {
  max-width: 1170px;
}

/* Footer Navigation Menu */
#block-menu-menu-footer-menu {
  float: left;
}
#block-menu-menu-footer-menu .menu,
#block-menu-menu-footer-menu .menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#block-menu-menu-footer-menu .block-inner .block-content > .menu > li > .menu > li.menu-depth-2 {
  margin-bottom: 1.62em;
}
#block-menu-menu-footer-menu .menu li > .menu {
  margin-left: 0.5em;
}
#block-menu-menu-footer-menu .block-inner .block-content > .menu > li {
  float: left;
  margin-right: 1.62em;
  min-width: 225px;
}

/* Search */
#search-block-form {
  float: right;
  margin: 0 0 0 15px;
  overflow: hidden;
  position: relative;
}


/* Content Area */

#content-column .content-inner {
  margin: 1.62em auto;
  max-width: 1170px;
}

/* Hero Banner */
.herobgwrapper,
.views_slideshow_cycle_main {
  max-width: 1170px;
}
.views-slideshow-cycle-main-frame {
  width: auto !important;
  max-width: 1170px;
}
.views_slideshow_cycle_slide {
  width: 100% !important;
}
.views_slideshow_cycle_main .field-name-title h2 {
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  left: 100px;
  top: 25px;
}
.views_slideshow_cycle_main .field-name-body {
  display: block;
  width: 400px;
  left: 400px;
  position: absolute;
  top: 200px;
}
.views_slideshow_cycle_main .field-name-body p {
  color: #A7997C;
  font-size: 1.2em;
  text-align: center;
}
